<ul>
  <li><%= "Отправление: #{trip.start_time}" %></li>
  <li><%= "Прибытие: #{trip.finish_time}" %></li>
  <li><%= "В пути: #{trip.duration_minutes / 60}ч. #{trip.duration_minutes % 60}мин." %></li>
  <li><%= "Цена: #{trip.price_cents / 100}р. #{trip.price_cents % 100}коп." %></li>
  <li><%= "Автобус: #{trip.bus.model} №#{trip.bus.number}" %></li>
  <% if trip.services.any? %>
    <li>Сервисы в автобусе:</li>
  <% end %>
  <ul>
    <%= render partial: "service", collection: trip.services %>
  </ul>
</ul>
